<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  
  

</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1 text-info" href=""><strong><i><b> NandoliaFoods_Admin</b></i> </strong> </a>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <a class="btn btn-success" href="products/insert_products" role="button">Add Products</a>


    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw"></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-danger">7</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="images/user.png"class="avatar"/>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Activity Log</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard/login_master">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>login_master</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard/products_category">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>products_category</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard/products">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>products</span>
        </a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      
    </ul>

    <form action="" method="POST">
      <table class="table table-success table-striped" style="width: 1124px;">
         <thead>
           <tr>
             <th scope="col">id</th>
             <th scope="col">Name</th>
             <th scope="col">price</th>
             <th scope="col">category id</th>
             <th scope="col">image</th>
             <th scope="col">Action</th>
           </tr>
         
         <% if(usersData.length > 0){ %>
     
           <% for(var i=0;i<usersData.length; i++){ %>
               <tr>
                   <td>  <%- usersData[i].item_id %>  </td>
                   <td>  <%- usersData[i].item_name %>  </td>
                   <td>  <%- usersData[i].item_price %>  </td>
                   <td>  <%- usersData[i].cat_id %>  </td>
                   <td>  <img src="<%= "../images/" + usersData[i].item_image %>" width="100px" height="100px"  alt="errorsss" >  </td>
                   <td>  <a class="btn btn-danger" href="products/delete_products?item_id=<%- usersData[i].item_id %>" role="button">DELETE</a> &nbsp &nbsp
                      <a class="btn btn-secondary" href="products/update_products?item_id=<%- usersData[i].item_id %>" role="button">UPDATE</a></td>
               </tr>
           <% } %>
     
         <% } else{ %>
          
           <h1>students data not found</h1>
         <% } %>
     
       </table>
     </form>
    

    <div id="content-wrapper">


      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span><b> <i> Copyright © SAAD MACHHALIYA </i></b></span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/vendor/chart.js/Chart.min.js"></script>
  <script src="/vendor/datatables/jquery.dataTables.js"></script>
  <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>

  <script src="/js/sb-admin.min.js"></script>
  <!-- Custom scripts for all pages-->

  <!-- Demo scripts for this page-->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/datatables-demo.js"></script>

</body>

</html>
